<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='order.product[0].image' height="55sspx" width="55px" alt="" class="rounded-circle" alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            Rating and Comment</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="m-4" [formGroup]="deliverForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3">
            <mat-label>Rating Value</mat-label>
            <mat-select formControlName="rating_value" required>
              <mat-option [value]="'1'">
                One
              </mat-option>
              <mat-option [value]="'2'">
                Two
              </mat-option>
              <mat-option [value]="'3'">
                Three
              </mat-option>
              <mat-option [value]="'4'">
                Four
              </mat-option>
              <mat-option [value]="'5'">
                Five
              </mat-option>
            </mat-select>
            <mat-error *ngIf="deliverForm.get('rating_value').hasError('required')">
              Rating Value is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3">
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="comment" required></textarea>
            <mat-error *ngIf="deliverForm.get('comment').hasError('required')">
              Comment is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <button class="mr-3" [disabled]="!deliverForm.valid " mat-raised-button
            color="primary" [mat-dialog-close]="1" (click)="onSubmit()">Submit</button>
          <button type="button" mat-button >Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
