<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Products</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Products</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let product of products">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="../../../{{product.image}}" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">{{product.name}}</h6>
              <p>Product Type: {{product.product_type}}</p>
            </div>
            <div>
              <h6 class="">Price per Unit: {{product.price}}</h6>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 pr-3"></i>{{product.description}}</div>
            <div><i class="fas fa-phone pt-3 pr-3"></i>{{product.quantity}}</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4 pb-4"> <button mat-stroked-button color="primary" (click)="productDetail(product.id)">Read
              More</button></div>
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary" (click)="editProduct(product)">Edit Your Product</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
